.container {
    background-color: #f2f2f2;
}

@media (min-width: 768px) {
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
}

#show-table {
    display: none;
}

.img-thumbnail {
    max-width: 100px;
    max-height: 100px;
}

.hidden {
    display: none;
}
